%h1 Your Menus on #{@date}

= content_tag_for(:div, @menus) do |menu|
  %h3 Saved at #{menu.created_at.strftime('%Y-%m-%d %H:%M')}
  .row
    = content_tag_for(:div, menu.recipes, class: 'span4') do |recipe|
      .div(style='height:180px; overflow:hidden')
        = link_to recipe.url do
          = image_tag recipe.image_url
      = link_to recipe.title, recipe.url
  %div(style='text-align:right')
    - if menu.today?
      = form_for(menu) do |f|
        = f.text_field :comment, class:'span6', placeholder: 'save this menu with comment.'
        = f.submit 'Save', class:'btn btn-success save-button'
    - else
      = menu.comment
