%h1
  Today's recommendations
%h2
  = @stage
  = link_to root_path, class: 'btn btn-primary refresh-button' do
    %i.icon-refresh.icon-white
    Refresh
.row
  = content_tag_for(:div, @recipes, class: 'span4') do |recipe|
    .div(style='height:180px; overflow:hidden')
      = link_to recipe.url do
        = image_tag recipe.image_url
    = link_to recipe.title, recipe.url
