%h1
  Today's recommendations
%h2
  = @stage
  = link_to root_path, class: 'btn btn-primary refresh-button' do
    %i.icon-refresh.icon-white
    Refresh
.row
  = content_tag_for(:div, @recipes, class: 'span4') do |recipe|
    .div(style='height:180px; overflow:hidden')
      = link_to recipe.url do
        = image_tag recipe.image_url
    = link_to recipe.title, recipe.url
- if current_user
  .row.pull-right
    = form_for(current_user.menus.build) do |f|
      - staple_recipe, main_recipe, side_recipe = @recipes
      = f.hidden_field :staple_recipe_id, value: staple_recipe.id
      = f.hidden_field :main_recipe_id, value: main_recipe.id
      = f.hidden_field :side_recipe_id, value: side_recipe.id
      %i.icon-comment
      .input-append
        = f.text_field :comment, class:'span6', placeholder: 'save recipe with comment.'
        = f.submit 'Save', class:'btn btn-success save-button'
